<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<false/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFAttributesMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFBackspaceToGoBackPlugin</key>
	<false/>
	<key>XtraFinder_XFBrowserViewColorPlugin</key>
	<false/>
	<key>XtraFinder_XFBrowserViewColorPlugin_BackgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg4GAAD6DjYwMPoOxsDA+AYY=
	</data>
	<key>XtraFinder_XFBrowserViewColorPlugin_SecondaryTextColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg3+lSD+Df6VIP4N/pUg/AYY=
	</data>
	<key>XtraFinder_XFBrowserViewColorPlugin_TextColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZoNyHCQ/AYY=
	</data>
	<key>XtraFinder_XFBrowserViewMiddleClickPlugin</key>
	<true/>
	<key>XtraFinder_XFCollapseAllActionPlugin</key>
	<true/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCopyPathMenuPlugin_Default</key>
	<integer>0</integer>
	<key>XtraFinder_XFCopyToActionPlugin</key>
	<false/>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin</key>
	<false/>
	<key>XtraFinder_XFDualWindowActionPlugin_SystemWideShortCut</key>
	<false/>
	<key>XtraFinder_XFEnterToOpenPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Comment</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Date</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Kind</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Label</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Size</key>
	<true/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<true/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDotFilesOnDesktopPlugin</key>
	<false/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<true/>
	<key>XtraFinder_XFLaunchAsRootActionPlugin</key>
	<true/>
	<key>XtraFinder_XFLegacyLabelForDesktopPlugin</key>
	<false/>
	<key>XtraFinder_XFLegacyLabelForIconViewPlugin</key>
	<false/>
	<key>XtraFinder_XFLegacyLabelPlugin</key>
	<false/>
	<key>XtraFinder_XFMakeSymbolicLinkActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewFileActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin_TerminalApp</key>
	<integer>0</integer>
	<key>XtraFinder_XFRefreshActionPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<true/>
	<key>XtraFinder_XFShowAllFilesActionPlugin</key>
	<true/>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin</key>
	<true/>
	<key>XtraFinder_XFSizeOfSelectedItemsInStatusBarPlugin_AutoCalculate</key>
	<true/>
	<key>XtraFinder_XFSpringLoadedPathBarPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_MiddleClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_NarrowTabBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_NewTabWithSamePath</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_SlideFrom</key>
	<integer>0</integer>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyChars</key>
		<string>]</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>}</string>
		<key>keyCode</key>
		<integer>30</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyChars</key>
		<string>[</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>{</string>
		<key>keyCode</key>
		<integer>33</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShiftClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSecondSidebar</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ShowSideBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>188.5</real>
	<key>XtraFinder_XFTabPlugin_TabStyle</key>
	<integer>1</integer>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService_Configuration</key>
	<dict>
		<key>Identifiers</key>
		<array>
			<string>com.trankynam.XtraFinder.NewTerminalHere</string>
			<string>com.trankynam.XtraFinder.CollapseAll</string>
			<string>com.trankynam.XtraFinder.CopyPath</string>
			<string>com.trankynam.XtraFinder.ShowHiddenItems</string>
		</array>
		<key>Index</key>
		<integer>1</integer>
	</dict>
	<key>XtraFinder_XFTransparentWindowPlugin</key>
	<false/>
</dict>
</plist>
